/*Reset Basic*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    list-style: none;
    outline: none;
}

/*Scroll Bar */

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: black #08C952;;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #08C952;
    border-radius: 20px;
    border: solid black 5px;
    height: 25px;
  }


.logo{
    height: 75px;
}