header {
    background-image: url(./imagens/imagemheader.png);
    background-size: 100%;
    width:100%;
    height: 603px;
    padding:0%;
    margin: 0%;
 }
.fundo2 {
    background-size: 100%;
    background-image: url(./imagens/imagemmain.png);
    background-size: auto;
    width:100%;
    height: 1277px;
    padding:0%;
    margin:0%;
 }
 footer{
    background-size: cover;
    background-color: #FCE46D;
    margin-top: 5px;
   	margin-right: 10px;
   	margin-bottom: 12px;
   	margin-left: 15px;
 }
 .titulo {
    color: white;
    text-align: center;
    font-family: 'Turret Road', cursive;
 }
.menu {
    color:white;
    text-align: right;
    font-family: 'Turret Road', cursive;
}
a {
    color: inherit; 
} 
.ranking{
    transform: translateX(0px);
    animation: float 4s ease-out infinite ;
}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
.top5{
    background-color: black;
    color:white
}
.imagens{
    width:5px;
    height:5px;
}