/*Import Fontes*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');


/*Root*/

:root {
    --font-title: 'Turret Road', cursive;
    --font-principal: 'Montserrat', sans-serif;
    --color-base-title: #FCE46D;
    --color-base-text: #FFFFFF;
}

/*Estilos Gerais da Página */

main {
    background: #000;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
}

.container {
    width: 85%;
    margin: 0 auto;
}

h1 {
    color: #FFF;
    text-align: center;
}


/* Menu */



.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 95%;
    margin: 0 auto;
    padding: 15px;

}

.menu ul li {
    float: left;
    margin-left: 10px;
    padding: 25px;
    list-style: none;

}


.menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--font-title);
}

.menu a:hover {
    text-decoration: none;
    color: #08C952;
}

.menu .link-caracters {
    color: #08C952;
}


.menu-lateral ul li {
    padding: 5px;
    list-style: none;
}

.menu-lateral a {
    text-decoration: none;
}

/*Banner Main*/

.banner-main img {
    width: 100%;
}

/*Caracters*/

.lista-personagens {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 20px;
}

.card-caracters {
    width: 95%;
    background-color: #9f1239;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    color: #FFF;

}

.card-caracters img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card-caracters p {
    font-size: 0.75em;
    padding: 3px;
}

/*Ordenacao*/

.ordenacao{
    display: flex;
    justify-content:flex-end;
}

.ordenacao select{
    background-color: #000;
    color: #FCE46D;
    border: solid 1px #FCE46D;
    font-family: var(--font-principal);
    border-radius: 15px;
    width: 150px;
    height: 25px;
    text-align: center;

}

.ordenacao button{
    background-color:#08C952;
    color: #000000;
    width: 75px;
    padding: 2px;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

/*Search*/
.top-search{
    display:flex;
    justify-content: space-between;
}

.top-search button{
    background-color:#08C952;
    color: #000000;
    width: 75px;
    padding: 2px;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.top-search input{
    background-color:#08c9521c;
    color:#08C952 ;
    padding: 2px;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 15px;
    border: none;
    padding: 5px;
}
.search{
    width: 350px;
}

.not-found{
    color:#08C952;
}
/*Paginação*/

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginacao button {
    width: 25%;
    background-color: #EDCF6B;
    padding: 20px;
    margin: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.pagina-atual {
    background-color: #08C952;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 2em;

}


/*Footer*/

footer {
    background: linear-gradient(180deg, #FCE46D 0%, #EDCF6B 100%);
    min-height: 350px;
}

footer ul li {
    list-style: none;
}

.container-footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 25px;
}

.footer-content-right {
    width: 85%;
    padding: 20px;
    text-align: right;
}

.footer-content-left {
    width: 10%;
    padding: 20px;
}

.devs {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.dev {

    min-height: 150px;
    padding: 15px;
    margin-left: 10px;
    text-align: left;


}

.footer-content-right h2 {
    font-size: 2.75em;
    font-family: Turret Road;
    padding: 25px;
}

.dev .city {
    list-style-image: url(../assets/imgs/location.png);
    list-style-position: inside;
}

.dev .phone {
    list-style-image: url(../assets/imgs/whatsapp.png);
    list-style-position: inside;
}