@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');

:root {
    --font-title: 'Turret Road', cursive;
    --font-principal: 'Montserrat', sans-serif;
    --color-base-title: #FCE46D;
    --color-base-text: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
}

.banner_header img {
    width: 100%;
}

h1 {
    color: #FFF;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 95%;
    margin: 0 auto;
    padding: 15px;

}

.menu ul li {
    float: left;
    margin-left: 10px;
    padding: 25px;
    list-style: none;

}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--font-title);
}

.menu a:hover {
    text-decoration: none;
    color: #08C952;
}

.menu .link-ranking {
    color: #08C952;
}

.menu img{
    width: 220px;
    height: 80px;
}

/* MAIN */

main{ 
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    background: #425a52;
}


.main_fundo {
    background-image: url('../assets/imgs/imagemmain.png');
    width: 100%;
	padding: 30px;
 }

.main_titulo1 {
    color: white;
    font-family: 'Turret Road', cursive;
    position: absolute;
    text-align: center; 
    top: 35%;
    left: 40%;
    font-size: 5rem;
    transform: translateX(0px);
    animation: float 4s ease-out infinite ;
}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

 .main_titulo2 {
    color: white;
    text-align: center;
    font-family: 'Turret Road', cursive;
 }

.main_top_3{
    background-color: black;
    padding: 50px;
}
.main_top_3_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card:first-child {
    margin-top: 150px;
}

.card:last-child {
    margin-top: 150px; 
}

.card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px white;
    ;
  }
  .card img {
    width: 100%;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
    font-family: 'Turret Road', cursive;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: gold;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  

/*Footer*/

footer {
    background: linear-gradient(180deg, #FCE46D 0%, #EDCF6B 100%);
    min-height: 350px;
}

footer ul li {
    list-style: none;
}

.container-footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 25px;
}

.footer-content-right {
    width: 85%;
    padding: 20px;
    text-align: right;
}

.footer-content-left {
    width: 10%;
    padding: 20px;
}

.devs {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.dev {

    min-height: 150px;
    padding: 15px;
    margin-left: 10px;
    text-align: left;


}

.footer-content-right h2 {
    font-size: 2.75em;
    font-family: Turret Road;
    padding: 25px;
}

.dev .city {
    list-style-image: url(../assets/imgs/location.png);
    list-style-position: inside;
}

.dev .phone {
    list-style-image: url(../assets/imgs/whatsapp.png);
    list-style-position: inside;
}
.dev .phone {
    list-style-image: url(../assets/imgs/whatsapp.png);
    list-style-position: inside;
}
