* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url('../assets/imgs/banner.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    height: 700px;
	padding: 0;
    box-shadow: inset 0 0 50px black
}

.header_menu {

    background-color: #314f3150;
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

ul li {
    float: left;
    color: white;
    margin-left: 10px;
    padding: 25px;
    padding-top: 45px;
    list-style: none;
    font-family: 'Turret Road', cursive;
}

.header_logo_1 img{
    height: 45px;
    margin-left: 10px;
}

.header_logo_2 img{
    align-items: center;
    height:150px;
}

#divBusca{
    margin: 10px;
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:280px;
    height:35px;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width: 180px;
    font-family: 'Turret Road', cursive;
}
  
#btnBusca{
    border:none;
    float:right;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-family: 'Turret Road', cursive;
    font-weight:bold;
    background:#5F9EA0;
    margin: 0;
    padding: 0;
}

main{
   margin: 0;
   padding: 0;
}

.main_fundo {
    background-size: 100%;
    background-image: url('../assets/imgs/imagemmain.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 1277px;
    margin-bottom: 0;
	padding: 30px;
 }

.main_titulo {
    color: white;
    text-align: center;
    font-family: 'Turret Road', cursive;
 }

.main_ranking{
    text-align: center;
    transform: translateX(0px);
    animation: float 4s ease-out infinite ;
    padding-top: 150px;
}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

.main_podio{
    text-align: center;
}

.main_podio_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
}

.main_titulo_top_5 {
    color: white;
    text-align: center;
}

.main_info_2{
    color: black;
  	background-color: #EDCF6B;
    width: auto;
    height: auto;
    padding: 5%;
    font-size: 16px;
    border-radius: 10px;
}

.main_top_5{
    background-color: black;
    background-size: 100%;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.main_top_5{
    background-color: black;
    background-size: 100%;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;

}

footer{
   background-color: #EDCF6B;
   margin: 0;
   display: flex;
   flex-direction: row;
}

a {
    color: inherit; 
} 

.footer_devs {    
    display: inline-block;
}
