header {
    background-image: url('../imgs/banner.jpeg');
    background-size:100%;
    margin-bottom: 0;
    width:100%;
    height:603px;
	padding: 0;
    box-shadow: inset 0 0 50px black
}
.logo {
    text-align: center;
    padding-top: 200px;
}
.logo_footer {
    text-align: left;
    padding-top: 50px;
}
.fundo2 {
    background-size: 100%;
    background-image: url('../imgs/imagemmain.png');
    background-size: cover;
    width: 100%;
    height: 1277px;
    margin-bottom: 0;
	padding: 30px;
 }
 body{
    margin: 0;
	padding: 0;
 }
 footer{
    background-color: #EDCF6B;
    margin: 0;
    display: block;
	padding: 0;
    text-align: end;
 }
 .titulo {
    color: white;
    text-align: center;
    font-family: 'Turret Road', cursive;
 }
.menu {
    color:white;
    text-align: right;
    padding: 20px;
    font-family: 'Turret Road', cursive;
}
a {
    color: inherit; 
} 
.ranking{
    text-align: center;
    transform: translateX(0px);
    animation: float 4s ease-out infinite ;
    padding-top: 150px;
}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
.podio{
    text-align: center;
}
.podio2{
    text-align: center;
    padding-bottom: 20px;
}
.top5{
    background-color: black;
    background-size: 100%;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;

}
.dadosdev {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 30px;
    text-align: left;
}
.devs {
    text-align: left;
    padding: 20px;
    display: block;
}
.info2{
    color: black;
  	background-color: #EDCF6B;
    width: auto;
    height: auto;
  	font-size: 20px;
    border-radius: 10px;
}
.titulo_top5 {
    color: white;
    text-align: center;
}
