/*Reset Basic*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    list-style: none;
    outline: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: black #08C952;;
  }

*::-webkit-scrollbar {
    width: 15px;
}
  
*::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
  
*::-webkit-scrollbar-thumb {
    background-color: #08C952;
    border-radius: 20px;
    border: solid black 5px;
    height: 25px;
}

.banner{
    width: 100%;
    background-image: url('../assets/imgs/banner.jpeg');
    height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.banner button{
    margin-top: 70px !important;
    margin: 0 auto;
    padding: 15px 30px 15px 30px ;
    width: 20%;
    background-color: #314f31a0;
    border: #ffff 2px solid;
    border-radius: 30px;
}

.banner button a{
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-family: 'Turret Road', cursive;
}

.banner button:hover{
    color: #ffffff;
    background-color: #42b2c9b8;
    border: #ffffffcb solid;
}

.logo-banner{ 
    margin-top: 220px !important;
    margin: 0 auto;
    height: 180px;
}

.space-match{
    background-image: linear-gradient( #000000 50%, #EDCF6B 50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.space-match h1{
    font-size: 28px;
    color: #ffffff;
    font-family: 'Turret Road', cursive;
    padding: 40px;
}

.banner-img{
    background-color: #08c952;
}

.game-space-match{
    display: flex;
    height: 450px;
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url(../assets/imgs/jonny.jpeg);
    border-radius: 30px;
    margin-bottom: 60px;
    flex-direction: column;
}

.game-space-match p {
    padding: 10px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-family: 'Turret Road', cursive;
}

.icon-mao{
    margin-top: 80px;
    font-size: 30px;
}

.title-game{
    font-size: 30px;
    font-weight: 600;
}

.subtitle-game{
    font-size: 24px;
    font-weight: 100;
}

.game-space-match button{
    background-image: linear-gradient(to right, #A1140A 70%, #EDCF6B   );
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 60px !important;
    width: 60%;
}

.game-space-match button:hover{
    background-image: linear-gradient(to right, #A1140A , #EDCF6B  70% );
}

.game-space-match button a{
    text-decoration: none;
    color: #ffff;
    font-size: 24px;
    font-family: 'Turret Road', cursive;
    font-weight: 600;
    text-transform: uppercase;
}

.connect-us{
    background-color: #160440;
    height: 230px;
    display: flex;
}

.connect-us h2{
    background-color: #160440;
    height: 230px;
}

.connect-us ul li{
    background-color: #160440;
    height: 230px;
    flex-direction: row;
}

.banner-characters img{
    height: 100px;
}

.banner-matchs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #A1140A; 
    color: white; 
    padding: 20px;
    text-align: center; 
}

.banner-matchs p {
    margin: 0;
    font-family: 'Turret Road', cursive; 
    font-size: 24px;
}

.banner-characters {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 40px; 
    align-items: center; 
    background-color: black;
    font-size: 24px;
}

.banner-characters-image {
    max-width: 100%; 
    height: 300px !important;
}

.banner-characters-content {
    padding: 20px; 
    color: white;
    font-family: 'Turret Road', cursive;
}

.banner-characters h3 {
    margin: 0; 
    font-family: 'Turret Road', cursive;
}

.banner-characters p {
    margin: 0; 
    font-family: 'Turret Road', cursive;
}

.banner-characters a {
    color: white;
    text-decoration: none; 
    font-family: 'Turret Road', cursive;
}

.banner-characters a:hover {
    text-decoration: underline;
}

/*Footer*/
footer {
    background: linear-gradient(180deg, #FCE46D 0%, #EDCF6B 100%);
    min-height: 350px;
}

footer ul li {
    list-style: none;
}

.container-footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 25px;
}

.footer-content-right {
    width: 85%;
    padding: 20px;
    text-align: right;
}

.footer-content-left {
    width: 10%;
    padding: 20px;
}

.footer-content-left img{
    width: 110%;
    height: 150px;
    margin-top: 45px;
}

.devs {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.dev {
    min-height: 150px;
    padding: 15px;
    margin-left: 10px;
    text-align: left;
}

.footer-content-right h2 {
    font-size: 2.75em;
    font-family: Turret Road;
    padding: 25px;

}

.footer-content-right p {
    font-size: 1em;
    font-family: Turret Road;
    padding: 25px;

}


.dev .city {
    list-style-image: url(../assets/imgs/location.png);
    list-style-position: inside;
}

.dev .phone {
    list-style-image: url(../assets/imgs/whatsapp.png);
    list-style-position: inside;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; }
    .menu {
        order: 1; 
    }
}