/*Import Fontes*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');

/*Reset Basic*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    list-style: none;
    outline: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: black #08C952;;
  }

*::-webkit-scrollbar {
    width: 15px;
}
  
*::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
  
*::-webkit-scrollbar-thumb {
    background-color: #08C952;
    border-radius: 20px;
    border: solid black 5px;
    height: 25px;
}

/*Root*/

:root {
    --font-title: 'Turret Road', cursive;
    --font-principal: 'Montserrat', sans-serif;
    --color-base-title: #FCE46D;
    --color-base-text: #FFFFFF;
}

/*Estilos Gerais da Página */

main {
    background: #000;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
}

.container {
    width: 85%;
    margin: 0 auto;
}

h1 {
    color: #FFF;
    text-align: center;
}


/* Menu */



.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 95%;
    margin: 0 auto;
    padding: 15px;

}

.menu ul li {
    float: left;
    margin-left: 10px;
    padding: 25px;
    list-style: none;

}


.menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--font-title);
}

.menu a:hover {
    text-decoration: none;
    color: #08C952;
}

.menu .link-caracters {
    color: #08C952;
}

.menu img{
    width: 220px;
    height: 80px;
}

.banner{
    width: 100%;
    background-image: url('../assets/imgs/banner.jpeg');
    height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.banner button{
    margin-top: 70px !important;
    margin: 0 auto;
    padding: 15px 30px 15px 30px ;
    width: 20%;
    background-color: #314f31a0;
    border: #ffff 2px solid;
    border-radius: 30px;
}

.banner button a{
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-family: 'Turret Road', cursive;
}

.banner button:hover{
    color: #ffffff;
    background-color: #42b2c9b8;
    border: #ffffffcb solid;
}

.logo-banner{ 
    margin-top: 220px !important;
    margin: 0 auto;
    height: 180px;
}

.space-match{
    background-image: linear-gradient( #000000 50%, #EDCF6B 50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.space-match h1{
    font-size: 28px;
    color: #ffffff;
    font-family: 'Turret Road', cursive;
    padding: 40px;
}

.banner-img{
    background-color: #08c952;
}

.icon-mao{
    margin-top: 80px;
    font-size: 30px;
}

.connect-us{
    background-color: #160440;
    height: 230px;
    display: flex;
}

.connect-us h2{
    background-color: #160440;
    height: 230px;
}

.connect-us ul li{
    background-color: #160440;
    height: 230px;
    flex-direction: row;
}

.banner-characters img{
    height: 100px;
}

.banner-matchs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #A1140A; 
    color: white; 
    padding: 20px;
    text-align: center; 
}

.banner-matchs p {
    margin: 0;
    font-family: 'Turret Road', cursive; 
    font-size: 24px;
}

.banner-characters {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 40px; 
    align-items: center; 
    background-color: black;
    font-size: 24px;
}

.banner-characters-image {
    max-width: 100%; 
    height: 300px !important;
}

.banner-characters-content {
    padding: 20px; 
    color: white;
    font-family: 'Turret Road', cursive;
}

.banner-characters h3 {
    margin: 0; 
    font-family: 'Turret Road', cursive;
}

.banner-characters p {
    margin: 0; 
    font-family: 'Turret Road', cursive;
}

.banner-characters a {
    color: white;
    text-decoration: none; 
    font-family: 'Turret Road', cursive;
}

.banner-characters a:hover {
    text-decoration: underline;
}

/*Footer*/

footer {
    background: linear-gradient(180deg, #FCE46D 0%, #EDCF6B 100%);
    min-height: 350px;
}

footer ul li {
    list-style: none;
}

.container-footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 25px;
}

.footer-content-right {
    width: 85%;
    padding: 20px;
    text-align: right;
}

.footer-content-left {
    width: 10%;
    padding: 20px;
}

.devs {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.dev {

    min-height: 150px;
    padding: 15px;
    margin-left: 10px;
    text-align: left;


}

.footer-content-right h2 {
    font-size: 2.75em;
    font-family: "Turret Road";
    padding: 25px;
}

.dev .city {
    list-style-image: url(../assets/imgs/location.png);
    list-style-position: inside;
}

.dev .phone {
    list-style-image: url(../assets/imgs/whatsapp.png);
    list-style-position: inside;
}

/* game */

.banner-game-teste {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    z-index: -1;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

#character-image {
    width: 100%;
    height: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    z-index: 2;
}

.buttons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.buttons img {
    width: 30px;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; }
    .menu {
        order: 1; 
    }
}
